{% extends 'layout.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>{% trans "Reset Password" %}</h2>
                <div class="page_link">
                    <a href="{% url 'shop_product:home_page' %}">{% trans "Don't have an account" %}</a>
                    <a href="registration.html">{% trans 'Login' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">

        
    <div class="col-lg-6 offset-3">
        
            <form method="post" class="row login_form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="col-md-12 form-group">
                    <button type="submit" value="submit" class="btn submit_btn">{% trans 'reset' %}</button>
                    <a href="{% url "login" %}">{% trans 'Already have an account?' %}</a>
                    </div>
            </form>
        
        
    </div>
</div>

{% endblock content %}